# course config files
*.yaml

# gradle
.gradle/
build


# idea config
.idea

# old stages
/Bulls and Cows/*
!/Bulls and Cows/task/
/Bulls and Cows/task/*
!/Bulls and Cows/task/src

# Project exclude paths
/Topics/Keyword  super/Employees/out/
/Topics/Keyword  super/Employees/out/production/classes/
/Topics/Overloading/Print/out/
/Topics/Overloading/Print/out/production/classes/
/Topics/StringBuilder/Create an email/out/
/Topics/StringBuilder/Create an email/out/production/classes/
/Topics/StringBuilder/Love of big letters/out/
/Topics/StringBuilder/Love of big letters/out/production/classes/
/Topics/StringBuilder/Reversing a string using a builder/out/
/Topics/StringBuilder/Reversing a string using a builder/out/production/classes/